
<div class="cuadro">
    <div class="titulo-cuadro">
        <h3>Información del recurso humano</h3>
    </div>
    <div class="cuerpo-cuadro">        
        <div class="col">
            <div class="campo">
                <h4>Nombre: <span class="value">Juan</span></h4>
            </div>
            <div class="campo">
                <h4>Curp: <span class="value">XXXXXXXXXXXX</span></h4>
            </div>
            <div class="campo">
                <h4>Departamento: <span class="value">Sistemas</span></h4>
            </div>
            <div class="campo">
                <h4>Estado: <span class="value">Activo</span></h4>
            </div>            
        </div>
        <div class="col">
            <div class="campo">
                <h4>Primer Apellido: <span class="value">Contreras</span></h4>
            </div>
            <div class="campo">
                <h4>Segundo Apellido: <span class="value">Jiménez</span></h4>
            </div>
            <div class="campo">
                <h4>Puesto: <span class="value">Analista</span></h4>
            </div>
        </div>
    </div>
</div>
<app-boton routerLink="./home" [ngClass]="''">Regresar</app-boton>
