


table{
    width: 100%;
}

tbody{
    display: flex;
    flex-direction: column;
}

table th{    
    border: 1px solid #000;
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    background-color: rgb(121, 120, 120);
}
tr:nth-child(odd){
    background-color: rgb(212, 212, 212);
}
td{
    border: 1px solid black;
}
.logoAccion{
    width: 2.4rem;
    margin: 0 .1rem;
}
.logoAccion:hover{
    cursor: pointer;
    filter: brightness(70%);
    transition: 0.5s ease-in;
}
