
.boton{
    border: 1px solid rgb(133, 133, 133);
    padding: .5rem 3rem;
    background-color: rgb(212, 209, 209);
    margin-bottom: 2rem;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}
.boton:hover{
    background-color: rgb(156, 154, 154);
    transition: 0.3s ease-in;
    transform: translateY(-10%);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}